<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>叶子</title>
		<link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico?v=1.0.0" />
		<link rel="stylesheet" href="/public/css/reset.css" />
		<script type="text/javascript">
	    document.write('<link rel="stylesheet" href="/public/css/archive.css?' + (new Date().getTime()) + '" \/>')
	    </script>
    	<script type="text/javascript" src="/public/static/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
        <div class="headband"></div>
        <div class="inner clearfix">
            <div class="header">
                <div class="header-inner">
                    <div class="site-brand">
                        <div class="site-meta">
                            <div class="site-log">
                                <a class="brand" href="/">
                                  <span class="site-title">XuchaoPeng</span>
                                </a>
                            </div>
                            <p class="site-subtitle">
                                Quick blog
                            </p>
                        </div>
                    </div>
                    <nav class="site-nav">
                        <ul class="menu">
                            <li class="menu-item"><a href="/"><span><i class="menu-icon h"></i>首页</span></a></li>
                            <li class="menu-item active"><a href="/"><span><i class="menu-icon g"></i>归档</span></a></li>
                            <li class="menu-item"><a href="/article-class"><span><i class="menu-icon b"></i>分类</span></a></li>
                            <li class="menu-item"><a href="/"><span><i class="menu-icon s"></i>搜索</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="main">
                <div class="content" id="content">
                	<section id="posts" class="posts_content">
                	</section>
                </div>
            </div>

            <div class="aside">
                <div class="aside_inner">
                    <section>
                        <div class="site_author">
                            <img src="/public/images/01.jpg" alt="">
                            <p class="site_author_name">XuchaoPeng</p>
                            <p class="site_author_dis">胡编一通，乱写一气</p>
                        </div>
                        <nav class="site_nav">
                            <div class="site_nav_item">
                                <a href="/archive">
                                  <span class="nav_item_count" id="rzhi_num">--</span>
                                  <span class="nav_item_name">Logs</span>
                                </a>
                            </div>
                            <div class="site_nav_item">
                                <a href="/article-class" target="_blank">
                                  <span class="nav_item_count" id="fenlei_num">--</span>
                                  <span class="nav_item_name">Fenl</span>
                                </a>
                            </div>
                            <div class="site_nav_item">
                                <a href="/about" target="_blank">
                                  <span class="nav_item_count">--</span>
                                  <span class="nav_item_name">About</span>
                                </a>
                            </div>
                        </nav>
                        <div class="site_link clearfix">
                            <a href="https://github.com/" target="_blank"><i></i>GitHub</a>
                            <a href="https://gitee.com/xuchaopeng" target="_blank"><i></i>码云</a>
                            <a href="https://www.zhihu.com/" target="_blank"><i></i>知乎</a>
                            <a href="http://ueditor.baidu.com/website/onlinedemo.html" target="_blank"><i></i>Collect</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var $posts = $('#posts');
            var $rzhi = $('#rzhi_num');
            var $fenlei = $('#fenlei_num');
            $.ajax({
                type:'GET',
                dataType:'json',
                url:"/statics/article-base",
                success:function(data){
                    if(data.status === '1'){
                        //优先填充日志、分类的条数
                        $rzhi.html(data.allnumber);
                        $fenlei.html(data.types.length);
                        var d = data.data;
                        var deal_data = sortBynian(d);
                        var year = deal_data.year;
                        var json = deal_data.json;
                        $.each(year,function(i,item){
                            $posts.append('<div class="posts_item">'+
                                '<div class="item_title">'+
                                '<h2>'+item+'</h2>'+
                                '</div></div>');
                            $.each(json[item],function(j,dis){
                                var date = dis.date;
                                var md = date.slice(date.indexOf('-')+1);
                                $posts.append('<div class="posts_item">'+
                                    '<div class="item_cnt">'+
                                    '<time>'+md+'</time>'+
                                    '<h3><a href="/detail/num/'+dis.accid+'" target="_blank">'+dis.title+'</a></h3>'+
                                    '</div></div>');
                            });
                        });
                    }
                    
                },
                error:function(){}
            });
            //按照年份排序处理
            function sortBynian(data){
                var a = {'year':[],'json':{}};
                var arr = [];
                $.each(data,function(i,item){
                    var dateArray = item.date.split('-');
                    var y = dateArray[0];
                    if(a.json[y]){
                        a.json[y].push(item);
                    }else{
                        arr.push(Number(y));
                        a.json[y] = [];
                        a.json[y].push(item);
                    }
                });
                arr.sort(function(a,b){
                    return -1 ;
                });
                a.year = arr;
                return a;
            }
            //左侧悬浮处理
            (function(){
                var $aside = $('.aside'),
                    $cnt = $('.aside_inner');
                var $window = $(window);
                $window.on('scroll',function(event){
                    event.preventDefault();
                    var t = $aside.offset().top,s = $window.scrollTop();
                    if(t <= s && $window.width() >= 1000){
                        $cnt.addClass('aside_fixed');
                    }else{
                        $cnt.removeClass('aside_fixed');
                    }
                });
                $window.on('resize',function(){
                    if($window.width() < 1000){
                        $cnt.removeClass('aside_fixed');
                    }
                });
            })();
        </script>
        <div class="inner footer">
            <p> © 2011 - 2017 <span class="icon_p"></span> P.xc</p>
        </div>
    </div>
    </div>
	</body>
	</html>	