body{
    position: relative;
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #555;
    background: #f5f7f9;
}
.container{
    position: relative;
    min-height: 100%;
}
.inner{
    width:1000px;
    margin:0 auto;
}
.clearfix{
    overflow: hidden;
    *zoom:1;
}
.headband{
    height: 3px;
    background: #56564b;
}
.header{
    float:left;
    width: 240px;
}
.header .header-inner{
    width: 100%;
    background: #fff;
    box-shadow: initial;
    border-radius: initial;
}

.header-inner .site-meta{
    background-color: #56564b;
    color:#fff;
    padding: 20px 0;
    color: #fff;
    margin: 0;
    text-align: center;
}
.brand{
    display: inline-block;
    padding: 0;
    background: none;
    position: relative;
    color: #fff;
    border-bottom: none;
}
.site-title {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Rosario', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.site-subtitle{
    color: #ddd;
    margin: 10px 10px 0;
    font-weight: initial;
    font-size: 13px;
}
.site-nav{

}
.site-nav .menu{
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
}
.menu .menu-item{
    display: block;
    margin: 0;
}
.menu .menu-item a{
    display: block;
    font-size: 16px;
    border-bottom: 1px solid transparent;
    color: #555;
    position: relative;
    box-sizing: border-box;
    padding: 5px 20px;
    text-align: left;
    line-height: inherit;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.menu li.active  a::after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #bbb;
}
.menu li.active a{
    background-color: #f9f9f9;
}
.menu .menu-item a:hover{
    background-color: #f9f9f9;
}
.menu .menu-item a span{
    position: relative;
    padding-left: 28px;
}
.menu .menu-item a span i{
    position: absolute;
    display: block;
    left:0;
    top:0;
    width:22px;
    height:15px;
}
.menu .menu-item a span i.h{
    left: 2px;
    top: 3px;
    background: url(../images/home_icon.png) no-repeat center top;
}
.menu .menu-item a span i.g{
    left: 2px;
    top: 3px;
    background: url(../images/gd_icon.png) no-repeat center top;
}
.menu .menu-item a span i.b{
    left: 2px;
    top: 3px;
    background: url(../images/bq_icon.png) no-repeat center top;
}
.menu .menu-item a span i.s{
    left: 2px;
    top: 3px;
    background: url(../images/ss_icon.png) no-repeat center top;
}
/*main start*/
.main{
    float: right;
    box-sizing: border-box;
    padding: 40px;
    width: 740px;
    background: #fff;
    min-height: 700px;
    box-shadow: initial;
    border-radius: initial;
}
.posts{
    padding-top: 40px;
}
.posts_content{
    position: relative;
    z-index: 1010;
    margin-left: 55px;
    height:700px;
}
.category_all{
    text-align: center;
    font-size:20px;
}
.category_list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size:18px;
}
.category_list .category_item{
        margin: 5px 10px;
}
.category_list .category_item a{
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
}
.category_list .category_item a:hover{
    color: #222;
    border-bottom-color: #222;
}
.category_list .category_item span{
    color: #bbb;
    text-align: center;
    padding-left: 8px;
}
.category_list .category_item span:before{
    display: inline;
    content: "[ ";
}
.category_list .category_item span:after{
    display: inline;
    content: " ]";
}
/*main end*/
/*aside start*/
.aside{
    margin-top: 15px;
    width:240px;
    background-color: #fff;
    float:left;
}
.aside .aside_inner {
    box-sizing: border-box;
    width: 240px;
    color: #555;
    background: #fff;
    box-shadow: initial;
    border-radius: initial;
    position: relative;
    padding: 20px 10px;
    text-align: center;
}
.aside div.aside_fixed{
    position: fixed;
    top:0;
    left:50%;
    margin-left: -500px;
}
.site_author img{
    display: block;
    margin: 0 auto;
    padding: 2px;
    max-width: 120px;
    height: auto;
    border: 1px solid #eee
}
.site_author .site_author_name{
    margin: 0;
    text-align: center;
    color: #222;
    font-weight: 600;
}
.site_author .site_author_dis{
    margin: 0 0 25px 0;
    text-align: center;
    font-size: 13px;
    color: #999;
}
.site_nav{
    padding-bottom: 15px;
}
.site_nav .site_nav_item:first-child{
    border-left:none;
}
.site_nav .site_nav_item{
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid #eee;
}
.site_nav .site_nav_item .nav_item_count{
        display: block;
    text-align: center;
    color: inherit;
    font-weight: 600;
    font-size: 16px;
}
.site_nav .site_nav_item .nav_item_name{
    font-size: 13px;
    color: #999;
}
.site_link{
    padding-top: 15px;
    border-top:1px dotted #ccc;;
}
.site_link a{
    font-size:16px;
    float: left;
    margin: 5px 0 0;
    width: 50%;
}
.site_link a:hover{
    border-radius: 4px;
    background: #eee;
}
/*aside end*/
/*footer start*/
.footer{
    text-align:center;
    padding:20px 0;
}
.footer p{
    padding-left: 260px;
}
.footer .icon_p{
    padding-left: 30px;
    background: url(../images/favicon.ico) no-repeat center top;
}
/*footer end*/
@media screen and (min-width: 1440px){
    div.header{
        width:300px;
    }
    div.aside{
        width:300px;
        margin-top: 20px;
    }
    div.main{
        width:920px;
    }
    div.inner{
        width:1240px;
    }
    div.aside .aside_inner{
        width:300px;
    }
    div.aside div.aside_fixed{
        margin-left: -620px;
    }
}