html,body{
	font-size:20px;
	font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*header start*/
.header{
	width:100%;
	height:auto;
	position: relative;
}
.header_top{
	width:100%;
	height:46px;
	text-align: center;
	position: fixed;
	top:0;
	left:0;
	z-index:10;
	background-color: #fff;
	opacity: 0.8;
	box-shadow: 0 0 4px rgba(0,0,0,.2);
}
.header_top .search_input{
	width: 0;
    height: 28px;
    background-color: #F3F3F3;
    border-radius: 0;
    position: absolute;
    top: 8px;
    right: 44px;
    visibility: hidden;
    opacity: 0;
    padding: 0 8px;
    border: 1px solid #DDD;
    box-shadow: none;
    outline: 0;
    font-size: 16px;
    -webkit-appearance: none;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    box-sizing: border-box;
    width: 74%;
    opacity: 1;
    visibility: visible;
}
.header_top .pwz{
	float:left;
	width:30px;
	height:46px;
	margin-left: 10px;
	z-index: 1;
	font-size:0.9rem;
	position: relative;
	text-align: left;
	line-height: 46px;
}
.header_top .pwz a{
	position: absolute;
	top:0;
	left:0;
	width:25px;
	height:46px;
	background-image:url(../images/huaban_logo.png);
	background-repeat:no-repeat;
	-webkit-background-size:  75px 25px;
	background-size: 75px 25px ;
	background-position: 0 10px;
}
.header_top .psh{
	position: absolute;
	top:0;
	right:0;
	width:88px;
	height:46px;
}
.header_top .psh .pss{
	float:left;
	width:44px;
	height:46px;
	position: relative;
	z-index:100;
}
.header_top .psh .pss a{
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -11px;
	margin-top: -11px;
	width: 22px;
	height:22px;
	background-image: url(../images/icon_home.png);
	-webkit-background-size: 80px 45px;
	background-size: 80px 45px;
	background-repeat:  no-repeat;
	background-position:-60px 0;
}
.header_top .psh .phm{
	position: relative;
	float:right;
	width:44px;
	height:44px;
}
.header_top .psh .phm a{
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -11px;
	margin-top: -11px;
	width: 22px;
	height:22px;
	background-image: url(../images/icon_home.png);
	-webkit-background-size: 80px 45px;
	background-size: 80px 45px;
	background-repeat:  no-repeat;
	background-position:-30px 0;
}
.header_bom{
	width:100%;
}
.header_bom .nav_btn{
	position: absolute;
	top:0;
	left:0;
	padding:10px 20px;
	height:auto;
}
.header_bom .nav_cnt{
	height:0;
	width:100%;
	line-height: 1rem;
	font-size:0.9rem;
	text-align: left;
	transition-duration: 0.5s;
	-moz-transition-duration: 0.5s; /* Firefox 4 */
	-webkit-transition-duration:0.5s; /* Safari 和 Chrome */
	-o-transition-duration: 0.5s; /* Opera */
	transition-property:height;
	overflow: hidden;
}
.header_bom ul.nav_animation{
	height:164px;
}
.nav_cnt li a{
	display: block;
	padding:0.5rem 1rem 0.5rem;
	border-bottom:1px solid #ddd;
}
/*header end*/
.title_both{
	position: relative;
    width: 100%;
    height: 44px;
    line-height: 30px;
    text-align: center;
    color: #444;
    font-size:0.9rem;
    line-height: 44px;
    border-bottom: 1px solid #EDEDED;
    background-color: #fafafa;
    position: relative;
}
/*content start*/
.content{
	width:100%;
	color:#222;
}
.content .news_item{
	padding: 0;
	margin-bottom: 0.25rem;
}
.news_item .news_cnt{
	padding:0.5rem  0.75rem;
	overflow: hidden;
	*zoom:1;
	border-bottom:1px solid #f5f5f5;
}
.news_cnt .rg{
	float:right;
	font-size:0.9rem;
	width:67%;
	height:4rem;
	position: relative;
}
.news_cnt .rg h3{
	padding-left: 0.5rem;
	font-size:0.9rem;
	font-weight:normal;
	max-height:2.4rem;
	overflow: hidden;
}
.news_cnt .rg h3 a{
	color:#333;
}
.news_cnt .rg p{
	position: absolute;
	bottom:0;
	left:0;
	padding-left: 0.5rem;
	font-size:0.65rem;
	color:#999;
}
.news_cnt .fl{
	float:left;
	height:4.0rem;
	width:33%;
}
.news_cnt .fl img{
	width:100%;
	height:100%;
	border:none;
}
/*多图模式 start*/
.news_wrap{
	padding:0.3rem 0.75rem;
	border-bottom:1px solid #f5f5f5;
}
.news_wrap h3{
	font-size:0.9rem;
	line-height: 1.1rem;
	font-weight: normal;
	margin-bottom: 0.2rem;
}
.news_wrap h3 a{
	color:#333;
}
.news_wrap .img_wrap{
	overflow: hidden;
	*zoom:1;
}
.img_wrap .img{
	float:left;
	width:33.333%;
	box-sizing:border-box;
	padding-right: 0.1rem;
}
.img_wrap .img img{
	width:100%;
	height: 80px;
}
.news_wrap p{
	margin-top: 0.4rem;
	font-size:0.65rem;
	line-height: 1.1rem;
	color:#999;
}
/*多图模式 end*/
/*content end*/
.channel{
	width:100%;
	height:100%;
	overflow: hidden;
	margin-top: 46px;
	text-align: center;
	color:#fff;
	position: relative;
}
.channel .img{
	position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    background: #aaa;
}
.channel .img img{
	width:100%;
	opacity: 1;
}
.channel .channel_box{
	padding-bottom: 22px;
}
.channel .channel_box h1{
	position: relative;
    margin: 20px auto 15px auto;
    width: 80%;
    font-size: 18px;
    text-shadow: none;
    line-height: 20px;
}
.channel .channel_box p{
	position: relative;
    display: block;
    padding-bottom: 15px;
    margin: 0 auto;
    width: 90%;
    line-height: 18px;
    font-size: 12px;
}
.channel .channel_box .link_s{
	padding-bottom: 15px;
    width: 300px;
    margin: 0 auto;
    position: relative;
}
.channel .channel_box .link_s i{
	display: inline-block;
    margin-right: 6px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: url(http://huaban.com/img/explore/explore_icon.png) -95px 0 no-repeat;
}
.channel .channel_box .link_s span{
	font-size:14px;
}
.channel .channel_box .link_s::before{
	display: block;
    position: absolute;
    top: 15px;
    left:214px;
    width: 30px;
    height: 1px;
    background: rgba(255,255,255,.6);
    content: "";
}
.channel .channel_box .link_s::after{
	display: block;
    position: absolute;
    top: 15px;
    right:214px;
    width: 30px;
    height: 1px;
    background: rgba(255,255,255,.6);
    content: "";
}
/*footer*/
.footer-inner{
	margin-top: 20px;
}
.footer_cnt{
    padding: 16px 20px 14px;
    margin: 0 auto;
    color: #aaa;
    text-shadow: 0 -1px 0 #333;
    color: #BFBFBF;
    background: #2d3237;
    font-size:0.65rem;
    line-height: 1rem;
    text-align: center;
}
.footer_cnt a{
	color:#BFBFBF;
	padding:0 5px;
}