<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no;">
    <title>徐超鹏-blog</title>
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico?v=1.0.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/css/channel_mobile.css">
    <script type="text/javascript" src="/public/js/zepto.min.js"></script>
    <script type="text/javascript" src="/public/js/tppl.js"></script>
</head>
<body>
    <header class="header">
    	<div class="header_top">
    		<div class="pwz">
    			<a href="/mobile"></a>
    		</div>
            <div class="psh">
                <div class="pss">
                    <a id="btn_ss" href="javascript:;"></a>
                </div>
                <div class="phm">
                    <a href="javascript:;"></a>
                </div>
            </div>
            <input class="search_input" id="search_input" type="text" value="">
    	</div>
    	<div class="header_bom">
    		<div class="nav_button">
    			<span class="nav_btn" id="nav_btn"></span>
    		</div>
    		<ul class="nav_cnt">
    			<li><a href="/">首页</a></li>
    			<li><a href="/">生活笔记</a></li>
    			<li><a href="/">慢生活</a></li>
    			<li><a href="/">爱的抱抱</a></li>
    		</ul>
    	</div>
    </header>
    <div class="channel" id="channel">
        
    </div>
    <div class="content" id="content">
    </div>
    <script type="text/template" id="template1">
    [: if(imgurl.length  >= 3) { :]
        <section class="news_item">
            <div class="news_wrap">
                <h3><a href="/mobile/detail/[=:accid:]">[=: title :]</a></h3>
                <div class="img_wrap">
                    <div class="img">
                        <img src="[=:imgurl[0].url:]" alt="">
                    </div>
                    <div class="img">
                        <img src="[=:imgurl[1].url:]" alt="">
                    </div>
                    <div class="img">
                        <img src="[=:imgurl[2].url:]" alt="">
                    </div>
                </div>
                <p>[=:author:]</p>
            </div>
        </section>
    [: } else if(imgurl.length >= 1) { :]
        <section class="news_item">
            <div class="news_cnt">
                <div class="rg">
                    <h3><a href="/mobile/detail/[=:accid:]">[=: title :]</a></h3>
                    <p>[=: author :]</p>
                </div>
                <div class="fl">
                    <img src="[=: imgurl[0].url :]" alt="">
                </div>
            </div>
        </section>
    [: } else { :]
        <section>
            <div class="news_wrap">
                <h3><a href="/mobile/detail/[=:accid:]">[=: title :]</a></h3>
                <p>[=: author :]</p>
            </div>
        </section>
    [: } :]
    </script>
    <script type="text/template" id="template2">
        <div class="img">
            <img src="[=:img:]" alt="">
        </div>
        <div class="channel_box">
            <h1>[=:name:]</h1>
            <p>[=:topic:]</p>
            <div class="link_s">
                <i></i>
                <span >[=:attention:]</span>
            </div>
        </div>
    </script>
    <script type="text/javascript" src="/public/js/mobile_channel.js"></script>
    <div class="footer-inner">
        <div class="footer_cnt">
            <a href="/">个人博客基于Mongdb + NodeJs搭建</a><br>
            <a href="/"> Designed and developed by xuchaopeng </a><br>
            <a href="/">Copyright © 2018-2018 All Rights Reserved</a><br>
        </div>
    </div>
</body>
</html>