<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no;">
    <title>徐超鹏-blog</title>
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico?v=1.0.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/css/detail_mobile.css">
    <script type="text/javascript" src="/public/js/zepto.min.js"></script>
    <script type="text/javascript" src="/public/js/tppl.js"></script>
</head>
<body>
    <header class="header">
    	<div class="header_top">
    		<div class="pwz">
    			<a href="/mobile"></a>
    		</div>
            <div class="psh">
                <div class="pss">
                    <a id="btn_ss" href="javascript:;"></a>
                </div>
                <div class="phm">
                    <a href="javascript:;"></a>
                </div>
            </div>
            <input class="search_input" id="search_input" type="text" value="">
    	</div>
    	<div class="header_bom">
    		<div class="nav_button">
    			<span class="nav_btn" id="nav_btn"></span>
    		</div>
    		<ul class="nav_cnt">
    			<li><a href="/">首页</a></li>
    			<li><a href="/">生活笔记</a></li>
    			<li><a href="/">慢生活</a></li>
    			<li><a href="/">爱的抱抱</a></li>
    		</ul>
    	</div>
    </header>
    <div class="content" id="content">
    </div>
    <script type="text/template" id="template1">
        <div class="title"><h1>[=:title:]</h1></div>
        <div class="meta">
            <span class="post_time">
              <span class="post_time_txt"><i></i>发表：</span>
              <time datetime="">[=:date:]</time>
            </span>
            <span class="post_leibei">
              <span class="post_divider">|</span>
              <span class="post_time_txt"><i></i>分类：</span>
              <span class="post_about"><a href="/article-class/qinggan" target="_blank">[=:name:]类文章</a></span>
            </span>
            <span class="post_counts">
              <span class="post_divider">|</span>
              <span class="post_time_txt"><i></i>阅读</span>
              <span class="post_num">[=:readtimes:]</span>
            </span>
        </div>
        <div class="neirong"></div>
    </script>
    <script type="text/javascript" src="/public/js/mobile_detail.js"></script>
    <div class="footer-inner">
        <div class="footer_cnt">
            <a href="/">个人博客基于Mongdb + NodeJs搭建</a><br>
            <a href="/"> Designed and developed by xuchaopeng </a><br>
            <a href="/">Copyright © 2018-2018 All Rights Reserved</a><br>
        </div>
    </div>
</body>
</html>